@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.province {
  padding: 50px 0;
  color: white;
  background-color: #eee;
  background-image: url("../../images/oqsaroy1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.text {
  margin: 0 20px;
  font-family: 'Roboto', sans-serif;
}