@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 40px;
  background-color: #f4f4f4;
  font-family: 'Heebo', sans-serif;
  user-select: none;
}

.title {
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 10px 0 20px 0;
}

.author {
  float: right;
  font-weight: bold;
}

.quote {
  margin: 10px;
  font-size: 20px;
  font-family: 'Mate SC', serif;
}