.div {
  margin: 40px 0;
  padding: 20px;
}

.about {
  margin: 20px 0;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.description {
  text-align: center;
  text-decoration: underline;
  margin: 0 10px;
}

.benefit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 5px;
}

.getit {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}

.getit__description {
  padding: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.auth {
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.avtorizatsiya {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0 auto;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  border: 0;
  color: white;
  background-color: #41a025;
}
